<div class="bg-light p-1 rounded">
    <label class="row">
        <input type="text" class="text-center" name="title">
    </label>
</div>
<label>
    <textarea class="bg-warning-subtle" cols="280" rows="40" name="content"></textarea>
</label>
