<div class="bg-info-subtle">
    <div class="container d-flex justify-content-end">
        <span>
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="/user/{{ user["username"] }}" class="btn btn-danger">Cancel</a>
        </span>
    </div>
</div>
