<div class="bg-light p-1 rounded">
    <div class="row">
        <h1 class="text-center">{{ data["title"] }}</h1>
    </div>
</div>
<label>
    <textarea class="bg-warning-subtle" cols="280" rows="40" name="content">{{ data["content"] }}</textarea>
</label>
