<div id="delete-popup" class="d-none rounded" style="position:fixed;right:40vw;left:40vw;top:40vh;bottom:40vh;background-color:whitesmoke;">
    <button style="position:absolute;right:0" onclick="this.parentElement.classList.add('d-none')" class="bg-secondary rounded">X</button>
    <p class="pt-5 text-center">Are you sure you want to delete this?</p>
    <span style="position:absolute;bottom:0;" class="d-flex justify-content-evenly w-100 mb-3">
        <form action="/delete/{{ creator.get_username() }}/{{ post.get_title }}" method="post">
            <button class="bg-success rounded">Yes</button>
        </form>
        <button class="bg-danger rounded" onclick="this.parentElement.parentElement.classList.add('d-none')">No</button>
    </span>
</div>
