<div class="text-center mt-5">
    {% include 'components/pageType/home/content.twig' %}
    {% include 'components/pageType/search/search_bar.twig' %}
    {% include 'components/pageType/home/post_list.twig' %}
</div>