{% if message['error'] %}
    <div class="alert alert-danger">
        {{ message['error'] }}
    </div>
{% endif %}
{% if message['success'] %}
    <div class="alert alert-success">
        {{ message['success'] }}
    </div>
{% endif %}
