<img src="{% include 'components/pageType/user/profile_pic.twig' %}" alt="profile picture" width="300px" height="300px" />
<div class="text-muted">
    <span class="fs-6">
        {{ creator.get_creation_date() }}
    </span>
    <span class="fs-2">
        {{ creator.get_username() }}
    </span>
</div>
