<div class="m-4">
    {% include 'components/pageType/search/user_list.twig' %}
</div>
<span style="border-bottom: 1px solid #e5e5e5; margin: 10px 0; display: block;"></span> <!-- drow a line across the page -->
<div class="m-4">
    {% include 'components/pageType/search/post_list.twig' %}
</div>
