{% if post_list|length == 0 %}
    <p class="text-center fs-3">No post found</p>
{% else %}
    <ul class="list-unstyled">
        {% for item in post_list %}
            {% include 'components/pageType/search/post.twig' %}
        {% endfor %}
    </ul>
{% endif %}
