{% if post_list|length == 0 %}
    <div class="text-center">
        <h1 class="display-4">No post found</h1>
    </div>
{% else %}
    <ul class="list-unstyled">
        {% for item in post_list %}
            {% include 'components/pageType/search/post.twig' %}
        {% endfor %}
    </ul>
{% endif %}
