{% if user_list|length == 0 %}
    <p class="text-center fs-3">No user found</p>
{% else %}
    <span class="d-flex gap-3">
        {% for item in user_list %}
            {% include 'components/pageType/search/user.twig' %}
        {% endfor %}
    </span>
{% endif %}
